doctype html
html(lang="ru")
    head
        block header
            meta(charset="UTF-8")
            meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
            title= "Kinder-Biovital | Административная панель"
            link(href="/js/lib/admin-lte/css/bootstrap.min.css" rel="stylesheet" type="text/css")
            link(href="/js/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
            link(href="/js/lib/admin-lte/css/ionicons.min.css" rel="stylesheet" type="text/css")
            link(href="/js/lib/admin-lte/css/AdminLTE.css" rel="stylesheet" type="text/css")
    body.skin-blue
        header.header
            a.logo(href="dashboard")= "Админ-панель"
            nav.navbar.navbar-static-top(role="navigation")
                a.navbar-btn.sidebar-toggle(href="#" data-toggle="offcanvas" role="button")
                    span.sr-only= "Toggle navigation"
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-right
                    ul.nav.navbar-nav
                        li.dropdown.user.user-menu
                            a.dropdown-toggle(href="#" data-toggle="dropdown")
                                i.glyphicon.glyphicon-user
                                span= user.username
                                i.caret
                            ul.dropdown-menu
                                li.user-footer
                                    .pull-right
                                        a.btn.btn-default.btn-flat(href="/admin/logout")= "Выйти"
        .wrapper.row-offcanvas.row-offcanvas-left
            aside.left-side.sidebar-offcanvas
                section.sidebar
                    ul.sidebar-menu
                        li
                            a.module(href="/admin/tales")
                                i.fa.fa-book
                                span= "Сказки"
                        li
                            a.module(href="/admin/heroes")
                                i.fa.fa-paw
                                span= "Герои"
                        li
                            a.module(href="/admin/replica")
                                i.fa.fa-comments-o
                                span= "Типы реплик"
                        li
                            a.module(href="/admin/decorations")
                                i.fa.fa-cloud
                                span= "Декорации"
                        li
                            a.module(href="/admin/tracks")
                                i.fa.fa-music
                                span= "Треки"
                        li
                            a.module(href="/admin/covers")
                                i.fa.fa-image
                                span= "Обложки"
            aside#moduleContent
                block content
        block scripts
            script(src="/js/lib/requirejs/require.js" data-main="/js/app/admin/core/core.js")
            script.
                window.langs = !{JSON.stringify(langs)}
