doctype html
html(lang="ua")
    head

        meta(id="fb-app_id" property="fb:app_id" content="#{appId}")
        meta(property="og:site_name" content="Kinder-Biovital")
        meta(property="og:type" content="website")
        meta(property="og:title" content="#{tale.name}")
        meta(property="og:description" content="Мне понравилась сказка '#{tale.name}'")
        meta(property="og:url" content="http://promo.365rozvag.com.ua/fairy-tale/#{tale._id}")
        meta(property="og:image" content="http://promo.365rozvag.com.ua/uploads/#{tale.cover}")

        <link rel="canonical" href="http://promo.365rozvag.com.ua/fairy-tale/#{tale._id}" />

        title Kinder-Biovital
    body
