doctype html
html(lang="ua")
    head

        meta(property="fb:app_id" content="#{fbAppId}")
        meta(property="vk:app_id" content="#{vkAppId}")
        meta(property="ok:app_id" content="#{okAppId}")
        meta(property="og:site_name" content="Kinder-Biovital")
        meta(property="og:type" content="website")
        meta(property="og:title" content="#{tale.name}")
        meta(property="og:description" content="Мне понравилась сказка '#{tale.name}'")
        if tale.cover
            meta(property="og:image" content="#{host}uploads/#{tale.cover}")
        else
            meta(property="og:image" content="#{host}img/favicon.png")

        title Kinder-Biovital
    body
